.underline {
  display: inline-block;
  background: #008000;
  text-shadow: 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green, 0px 0px 1.2em green;
}
.underline::before {
  content: '';
  display: block;
  position: relative;
  top: 1.2em;
  height: 1px;
  width: 100%;
  background: #000;
}
#resume {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
#resume .container {
  padding: 0;
}
#resume,
#resume h1,
#resume h2,
#resume h3,
#resume h4 {
  font-family: Open Sans;
  font-weight: 300;
}
#resume #infobox {
  text-align: center;
}
@media (min-width: 768px) {
  #resume #infobox {
    text-align: right;
  }
}
#resume #infobox img {
  float: none;
}
@media (min-width: 768px) {
  #resume #infobox img {
    float: right;
  }
}
#resume img {
  border: 5px solid #aaa;
}
#resume span.h4 {
  font-weight: 300;
  margin-left: 10px;
}
#resume blockquote {
  padding-top: 1px;
}
#resume h1,
#resume h2 {
  text-transform: uppercase;
}
#resume h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background: #eee;
}
#resume span > .fa {
  margin-left: 5px;
}
#resume span > .fa::before {
  display: inline-block;
  width: 20px;
  text-align: center;
}
#resume ul {
  list-style-type: none;
  padding-left: 5px;
}
#resume ul li::before {
  content: '- ';
  margin-right: 10px;
}
